@import '../../../../../assets/scss/functions';

.container {
    margin-top: rem(20);
}

.head-content {
    width: 80%;
    margin: auto;
    background: #438685;
    color: #fff;
    padding: rem(20);
    font-size: rem(25);
    border-radius: rem(8);
    text-align: center;

}

.items-sec {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: rem(30) 0px;

    .item-container {
        width: 30%;
        background: #303852;
        border-radius: rem(8);
        text-align: center;
        padding: rem(20);
        margin: rem(10);
        position: relative;
        overflow: hidden;

        p, h3 {
            margin: rem(15);
        }

        .item-btn {
            padding: rem(10);
            margin: rem(15) auto;
            color: #fff;
            background: #455177;
            border-radius:rem(8);
            width: 100%;
            border: none;
            font-size: rem(16);
            cursor: pointer;
        }.item-btn:hover {
            background: #3e414d !important;
        }

        .wiki-co {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            border-bottom-left-radius: rem(8);
            border-bottom-right-radius: rem(8);
            background: #303852;
            margin: auto;
            transition: all 300ms;

            .result-co {
                position: relative;
                width: 100%;
                height: 100%;
                line-height: rem(50);

                .item-link {
                    text-decoration: none;
                    margin-top: rem(20);
                    padding: rem(8);
                    font-size: rem(20);
                    border-radius: rem(8);
                    background: #1f2433;
                }.item-link:hover {
                    background: #438685;
                }
                
                .alart-m {
                    margin-top: rem(20);
                    font-size: rem(15);

                    .inline-link {
                        text-decoration: none;
                        color: #32f1ee;
                        padding: rem(5);
                        border-radius: rem(8);
                    }.inline-link:hover {
                        color: #fff;
                        background: #438685;
                    }
                }
            }
        }
        
    }.item-container:hover {
        background: #438685;
    }

    .item-container:hover .item-btn {
        background: #303852;
    }
}

.loading-icon {
    position: relative;
    width: 100%;
    height: 100%;
}

.hide-loading {
    top: 150%;
}

.show-loading {
    top: 55%;
}

// --------- Loading icon ---------
// Src: https://codepen.io/majci23/pen/NqdXvy
// Has changed a bit

$color-loader: #e9e9e9;

.loader {
  width: rem(250);
  height: rem(50);
  line-height: rem(50);
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: helvetica, arial, sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  color: $color-loader;
  letter-spacing: 0.2em;
  
  &::before, &::after {
    content: "";
    display: block;
    width: rem(15);
    height: rem(15);
    background: $color-loader;
    position: absolute;
    animation: load .7s infinite alternate ease-in-out;
  }
  
  &::before {
    top: 0;
  }
  
  &::after {
    bottom: 0;
  }
}

@keyframes load {
  0% { left: 0; height: rem(30); width: rem(15) }
  50% { height: rem( 8); width: rem(40) }
  100% { left: 235px; height: rem(30); width: rem(15)}
}