<div class="item-co">
    <div class="item">
        <h2 class="item-title">Astronauts currently in space</h2>
        <div class="content-co">
            <img class="content-image" src="../../../assets/images/astronaut.png" alt="astronaut image">
            <p class="content-des">
                askdaspdjasjdpasjdasjdpoj
            </p>
        </div>
        
    </div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
</div>