.wrapper {
    width: 100%;
    height: 100%;

    .main {
        width: 88%;
        max-width: 1900px;
        margin: auto;
        min-height: 100vh;
    }
}


@media only screen and (max-width: 960px) {
    .nav-sec {
        display: none;
    }
}

@media only screen and (max-width: 760px) {
    .main {
        
        .nav-sec {
            display: block;
        }
    }
}