<header class="header-sec">
    <div class="f-item">
        Need Help?
    </div>
    <div class="f-item">
        <a [routerLink]="['/']" class="more-title">
            Home
        </a>
    </div>
    <div class="f-item">
        <a href="https://github.com/mosrainis/nasa-tracker">
            <div class="h-link-co">
                <img src="../../../assets/images/github-logo.png" alt="github logo" class="logo">
                <div class="link-title">
                    <h4>Github Page</h4>
                </div>
            </div>
        </a>
    </div>
    <div class="f-item">
        <a href="https://www.nasa.gov/">
            <img src="../../../assets/images/nasa-logo.png" alt="nasa logo" class="logo">
        </a>
    </div>
</header>