<header class="header-sec">
    <div class="f-item">
        Need Help?
    </div>
    <div class="f-item">
        <a [routerLink]="['']" class="more-title">
            Learn More
        </a>
    </div>
    <div class="f-item">
        <div class="h-link-co">
            <img src="../../../assets/images/github-logo.png" alt="github logo" class="logo">
            <div class="link-title">
                <h4>Github Page</h4>
            </div>
        </div>
    </div>
    <div class="f-item">
        <img src="../../../assets/images/nasa-logo.png" alt="nasa logo" class="logo">
    </div>
</header>