@import '../../../assets/scss/functions';

.countdown-co {
    position: fixed;
    bottom: rem(20);
    right: rem(30);
    max-width: rem(250);
    padding: 0 rem(3);
    border-radius: rem(8);
    background: #326665;
    cursor: pointer;
    text-align: center;
}.countdown-co:after {
    content: '';
    width: 90%;
    height: rem(5);
    background: #326665;
    position: absolute;
    top: -4px;
    left: 0;
    right: 0;
    margin: auto;
    opacity: 1;
    border-radius: rem(20);
    transition: all 250ms;
}.countdown-co:hover {
    background: #468b8a;
}.countdown-co:hover:after {
    top: -10px;
    transition: all 250ms;
}

.timer {
    font-family: 'Satisfy';
    font-size: rem(28);
    margin: rem(10) rem(10) rem(2) rem(10);
}

.timer-des {
    font-size: rem(18);
    margin:rem(0) rem(10) rem(20) rem(10);
    font-family: 'Concert One';
}
