html,
body {
    padding: 0;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 100%;
    height: 100%;
    background: #0b132b;
}

* {
    margin: 0;
    padding: 0;
    transition: all 150ms;
    color: #fff;
}